@use 'sass:map';
@use 'sass:math';
@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

:root {
  --krds-contents-wrap-size: 1200px;
  --brand-color: #087dec;
  --theme-logo-url: url(#{$image-path}/common/logo-civil.png);
  --theme-main-background: url(#{$image-path}/main/main-bg-civil.png);
}
/* theme options */
.theme-civil {
  --brand-color: #087dec;
  --theme-logo-url: url(#{$image-path}/common/logo-civil.png);
  --theme-main-background: url(#{$image-path}/main/main-bg-civil.png);
}

.theme-military {
  --brand-color: #00a5e3;
  --theme-logo-url: url(#{$image-path}/common/logo-military.png);
  --theme-main-background: url(#{$image-path}/main/main-bg-military.png);
}

.theme-police {
  --brand-color: #0b4094;
  --theme-logo-url: url(#{$image-path}/common/logo-police.png);
  --theme-main-background: url(#{$image-path}/main/main-bg-police.png);
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

html{
  font-size: 10px;
}
body,th,td,input,select,textarea,button{
  font-size: 1.4rem;
  font-family: "Pretendard", sans-serif;
  color: #212121;
}

ul, ol {
  list-style: none;
}


a {
  text-decoration: none;
  //color: inherit;
  color: #212121;
}

img {
  vertical-align: top;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
}

/* Font settings */
body {
  font-family: "Pretendard", sans-serif;
  color: #212121;
}


.visually-hidden{
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.inner{
  padding-left: 0;
  padding-right: 0;
  width: var(--krds-contents-wrap-size);
}

.text-bold{
  font-weight: 700;
}

@for $i from 1 through 100{
  .w-#{$i}{
    width: #{$i}px;
  }
}
@for $i from 1 through 50{
  .mb-#{$i}{
    margin-bottom: #{$i}px;
  }
  .mt-#{$i}{
    margin-top: #{$i}px;
  }
  .ml-#{$i}{
    margin-left: #{$i}px;
  }
  .mr-#{$i}{
    margin-right: #{$i}px;
  }
}



