@use 'sass:map';
@use 'sass:math';
@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

#main{
    //background: url(#{$image-path}/main-bg.png) no-repeat 50% 0;
    padding-bottom: 5rem;
}

.main-sect{
    .tit{
        color: #000;
        font-weight: 700;
        font-size: 3.2rem;
        padding-bottom: 1.5rem;
    }
}

.main-visual-search{
    overflow: hidden;
    position: relative;
    height: 33.7rem;
    .background{
        z-index: -1;
        position: absolute;
        background: var(--theme-main-background) no-repeat 50% 50% / cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.12);
        transition: all 10s ease;
        &.init{
            transform: scale(1);
        }
    }
}

.main-top-sch{
    padding: 6.5rem 0;
    .inner{
        width: 80rem;
    }
    .sch-tit{
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-size: 3.2rem;
        padding-bottom: 1.5rem;
    }
   .sch-form-wrap{
        gap: 4rem 0;
    }
    .sch-input .krds-input.xlarge{
        //border-color: var(--brand-color);
        border-radius: 4rem;
        border-width: .3rem;
        border: 0;
        font-size: 2.4rem;
    }
    .krds-btn.icon .svg-icon{
        background-color: var(--brand-color);
    }
    .sch-details{
        align-self: center;
        .btn-more-filter{
            border-radius: .6rem;
            font-size: 1.9rem;
            color: #fff;
            font-weight: 400;
            display: inline-flex;
            align-items: center;
            gap:0 .8rem;
        }
    }
    .sch-tag{
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap:0 2.4rem;
        dt{
            color: #fff;
            font-weight: 700;
            font-size: 1.7rem;
        }
        dd{
            .link{
                border-radius: .6rem;
                font-size: 1.5rem;
                color: #555;
            }
        }
    }
}

.main-sec-title{
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size: 3.2rem;
    padding-bottom: 2rem;
    line-height: 1;
}

.main-news{
    position: relative;
    padding-bottom: 6.5rem;
    margin: 6.5rem 0;
    &::after{
        content: '';
        height: 23.5rem;
        background-color: #eef2f7;
        left: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    &-grid{
        display: flex;
        gap: 2.4rem;
    }
    &-list{
        flex: 1;
        border-radius: 1.2rem;
        background-color: #fff;
        border: 1px solid #c6c6c6;
        padding: 4rem 3.3rem;
        .hgroup{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 4rem;
            h4{
                line-height: 1;
                color: #000;
                font-size: 1.9rem;
            }
            .link{
                color: #000;
                display: flex;
                align-items: center;
                font-size: 1.7rem;
                gap: 0 .8rem;
                &:hover{
                    text-decoration: underline;
                }
                .svg-icon{
                    width: 1.7rem;
                    height: 1.7rem;
                    background-color: #808285;
                }
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            line-height: 1.4;
            
            li {
                a {
                    display: flex;
                    align-items: flex-start;
                    gap: 2rem;
                    
                    em {
                        color: var(--brand-color);
                        font-weight: 500;
                        padding-right: .5rem;
                    }
                    
                    .news-subject {
                        flex: 1;
                        font-size: 1.7rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -webkit-box-orient: vertical;

                    }
                    
                    .news-date {
                        flex-shrink: 0;
                        font-size: 1.7rem;
                        color: #555;
                        padding-top: 0.2rem;
                    }
                }
            }
        }
    }
    &-banner{
        flex-shrink: 0;
        height: 37.8rem;
        width: 38.4rem;
        border-radius: 1.2rem;
        background-color: var(--brand-color);
        a{
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

.main-jump{
    &-grid{
        display: flex;
        gap: 2.4rem;
    }
    &-item{
        display: flex;
        border-radius: 1.2rem;
        background-color: #fff;
        border: 1px solid #c6c6c6;
        overflow: hidden;
        transition: all .3s ease;
        &:hover,
        &:focus{
            border-color: var(--brand-color);
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eef2f7;
            width:16.4rem;
            height: 16.4rem;
        }
        .desc{
            line-height: 1;
            position: relative;
            padding: 2.5rem;
            strong{
                display: block;
                font-size: 1.9rem;
                padding-bottom: 1.5rem;
            }
            div{font-size: 1.7rem;color: #555555;}
            .arrow{
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0 .8rem;
                font-size: 1.7rem;
                color: #000;
                padding-top: .5rem;
            }
        }
    }
}