<aside class="page-content-aside">
    <div class="aside">
        <dl class="filter-dl">
            <dt>검색 필터</dt>
            <dd>
                <ul class="filter-list krds-accordion type-line" data-type="multiOpen">
                    <li class="li accordion-item active">
                        <h3 class="accordion-header">
                            <button type="button" class="btn-accordion active" aria-expanded="true"
                                id="accordionHeader-id-0xy1ka4t"
                                aria-controls="accordionCollapse-id-0xy1ka4t">
                                <div class="tit">검색대상<span class="krds-badge bg-primary number">4</span>
                                </div>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" role="region"
                            id="accordionCollapse-id-0xy1ka4t"
                            aria-labelledby="accordionHeader-id-0xy1ka4t">
                            <div class="accordion-body">
                                <div class="krds-check-area chk-column">
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-target_chk_1a">
                                        <label for="filter-target_chk_1a">메뉴 (2)</label>
                                    </div>
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-target_chk_2a" checked="">
                                        <label for="filter-target_chk_2a">뉴스 (2,301)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="li accordion-item">
                        <h3 class="accordion-header">
                            <button type="button" class="btn-accordion" aria-expanded="false"
                                id="accordionHeader-id-1dn6gd5r"
                                aria-controls="accordionCollapse-id-1dn6gd5r">
                                <div class="tit">검색 기간<span class="krds-badge bg-primary number">1 </span>
                                </div>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" role="region"
                            id="accordionCollapse-id-1dn6gd5r"
                            aria-labelledby="accordionHeader-id-1dn6gd5r">
                            <div class="accordion-body">
                                
                                <div class="form-group">
                                    <div class="form-conts calendar-conts">
                                        <div class="date-range">
                                            <input type="text" class="datepicker start" placeholder="YYYY.MM.DD" aria-label="시작일" />
                                            <span class="date-range-separator">-</span>
                                            <input type="text" class="datepicker end" placeholder="YYYY.MM.DD" aria-label="종료일" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="li accordion-item">
                        <h3 class="accordion-header">
                            <button type="button" class="btn-accordion" aria-expanded="false"
                                id="accordionHeader-id-2xi413ug"
                                aria-controls="accordionCollapse-id-2xi413ug">
                                <div class="tit">자료 유형<span class="krds-badge bg-primary number">1</span>
                                </div>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" role="region"
                            id="accordionCollapse-id-2xi413ug"
                            aria-labelledby="accordionHeader-id-2xi413ug">
                            <div class="accordion-body">
                                <div class="row krds-check-area chk-column">
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-data_chk_1a">
                                        <label for="filter-data_chk_1a">PDF (234)</label>
                                    </div>
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-data_chk_2a">
                                        <label for="filter-data_chk_2a">HWP (220)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="li accordion-item">
                        <h3 class="accordion-header">
                            <button type="button" class="btn-accordion" aria-expanded="false"
                                id="accordionHeader-id-3ty2lpxx"
                                aria-controls="accordionCollapse-id-3ty2lpxx">
                                <div class="tit">자료 이용 장소</div>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" role="region"
                            id="accordionCollapse-id-3ty2lpxx"
                            aria-labelledby="accordionHeader-id-3ty2lpxx">
                            <div class="accordion-body">
                                <div class="row krds-check-area chk-column">
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-place_chk_1a">
                                        <label for="filter-place_chk_1a">장소1</label>
                                    </div>
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-place_chk_2a">
                                        <label for="filter-place_chk_2a">장소2</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="li accordion-item">
                        <h3 class="accordion-header">
                            <button type="button" class="btn-accordion" aria-expanded="false"
                                id="accordionHeader-id-4h755vbe"
                                aria-controls="accordionCollapse-id-4h755vbe">
                                <div class="tit">자료 언어</div>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" role="region"
                            id="accordionCollapse-id-4h755vbe"
                            aria-labelledby="accordionHeader-id-4h755vbe">
                            <div class="accordion-body">
                                <div class="row krds-check-area chk-column">
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-lang_chk_1a">
                                        <label for="filter-lang_chk_1a">영어</label>
                                    </div>
                                    <div class="krds-form-check">
                                        <input type="checkbox" id="filter-lang_chk_2a">
                                        <label for="filter-lang_chk_2a">일본어</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <div class="filter-btn">
            <button type="button" class="krds-btn medium tertiary">초기화</button>
            <button type="button" class="krds-btn medium primary">적용하기</button>
        </div>
    </div>
</aside>