<footer id="krds-footer">
    <div class="foot-quick">
        <div class="inner">
            <button type="button" class="link" title="related_site 레이어">관련 사이트 1</button>
            <button type="button" class="link" title="related_site 레이어">관련 사이트 2</button>
            <button type="button" class="link" title="related_site 레이어">관련 사이트 3</button>
            <button type="button" class="link" title="related_site 레이어">관련 사이트 4</button>
        </div>
    </div>
    <div class="inner">
        <div class="f-logo">
            <span class="sr-only">KRDS - Korea Design System</span>
        </div>
        <div class="f-cnt">
            <div class="f-info">
                <p class="info-addr">(26464) 서울특별시 마곡대로 데이터센터</p>
                <ul class="info-cs">
                    <li><strong class="strong">시스템 관련문의</strong><span class="span"><a href="mailto:mkmaster@mkis.or.kr">mkmaster@mkis.or.kr</a></span></li>
                    <li><strong class="strong">대표전화 0000-0000</strong><span class="span">(유료, 평일 09시~18시)</span></li>
                </ul>
            </div>

            <!-- <div class="f-link">
                <div class="link-go">
                    <a href="#" class="krds-btn medium text">찾아오시는 길 <i class="svg-icon ico-angle right"></i></a>
                </div>
            </div> -->
        </div>

        <div class="f-btm">
            <div class="f-btm-text">
                <div class="f-menu">
                    <a href="#">이용안내</a>
                    <a href="#" class="point"><b>개인정보처리방침</b></a>
                    <a href="#">저작권 정책</a>
                </div>
                <p class="f-copy">© 2025 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>