<!-- side navigation -->
<nav class="krds-side-navigation" id="lnb">
    <h2 class="lnb-tit">마이페이지</h2>
    <!-- lnb-list -->
    <ul class="lnb-list">
        <li class="lnb-item">
            <a href="#" class="lnb-btn lnb-link active selected">회원정보</a>
        </li>
        <li class="lnb-item">
            <button type="button" class="lnb-btn lnb-toggle" role="menuitem" aria-controls="lnbmenu-2"
                aria-expanded="false">게시판</button>
            <!-- lnb-submenu -->
            <div class="lnb-submenu">
                <ul id="lnbmenu-2">
                    <li class="lnb-subitem"><a href="#" class="lnb-btn lnb-link">Q&A 현황</a></li>
                </ul>
            </div>
            <!-- //lnb-submenu -->
        </li>
        <li class="lnb-item">
            <button type="button" class="lnb-btn lnb-toggle" role="menuitem" aria-controls="lnbmenu-3"
                aria-expanded="false">데이터활용</button>
            <!-- lnb-submenu -->
            <div class="lnb-submenu">
                <ul id="lnbmenu-3">
                    <li class="lnb-subitem"><a href="#" class="lnb-btn lnb-link">OPEN API 신청 현황</a></li>
                    <li class="lnb-subitem"><a href="#" class="lnb-btn lnb-link">관심 데이터</a></li>
                    <li class="lnb-subitem"><a href="#" class="lnb-btn lnb-link">시나리오 분석 내역</a></li>
                </ul>
            </div>
            <!-- //lnb-submenu -->
        </li>
        <li class="lnb-item">
            <button type="button" class="lnb-btn lnb-toggle" role="menuitem" aria-controls="lnbmenu-4"
                aria-expanded="false">사고다발 위험지역</button>
            <!-- lnb-submenu -->
            <div class="lnb-submenu">
                <ul id="lnbmenu-4">
                    <li class="lnb-subitem"><a href="#" class="lnb-btn lnb-link">알람 목록</a></li>
                    <li class="lnb-subitem"><a href="#" class="lnb-btn lnb-link">알람 설정</a></li>
                </ul>
            </div>
            <!-- //lnb-submenu -->
        </li>
    </ul>
    <!-- //lnb-list -->
</nav>
<!-- //side navigation -->