<meta charset="UTF-8" />
<title>민군경</title>
<meta name="description" content="민군경" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="민군경" />
<meta name="keywords" content="민군경" />
<meta name="robots" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="theme-color" content="#000000" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="민군경" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<script src="//cdn.jsdelivr.net/npm/krds-uiux@1.0.3/resources/cdn/krds.min.js"></script>
