<div class="search-top-box">
    <div class="sch-form-wrap">
        <div class="sch-input">
            <input type="text" class="krds-input" placeholder="검색어를 입력해주세요" title="검색어 입력">
            <button type="button" class="krds-btn medium icon ico-search">
                <span class="sr-only">검색</span>
                <i class="svg-icon ico-sch"></i>
            </button>
        </div>

        <div class="sch-recent">
            <strong>최근검색어</strong>
            <div class="krds-tag-wrap large">
                <span class="krds-btn-tag">뉴스
                    <button type="button" class="btn-delete">
                        <span class="sr-only">삭제</span>
                    </button>
                </span>
                <span class="krds-btn-tag">뉴스
                    <button type="button" class="btn-delete">
                        <span class="sr-only">삭제</span>
                    </button>
                </span>

            </div>
        </div>
    </div>
</div>